# Certificate files
*.cer
*.cnf
*.crt
*.csr
*.der
*.key
*.p7b
*.pfx
*.pem
*.pub

# Project Files
*.db
*.env
*.log
*.old
*.sqlite3
*.sqlite3-journal
*.txt
*.xml
test*.py
TODO.py
!example.env
!requirements.txt

# Environments
.env
.DS_Store
.idea
.venv
env.bak/
venv.bak/
venv/
env/
ENV/

# Project folders
*.egg-info
__pycache__
axlsqltoolkit
dist/
dist_old/
