annotated-types==0.7.0
attrs==25.1.0
certifi==2025.1.31
charset-normalizer==3.4.1
idna==3.10
isodate==0.7.2
lxml==5.3.1
platformdirs==4.3.6
pydantic==2.10.6
pydantic_core==2.27.2
pytz==2025.1
requests==2.32.3
requests-file==2.1.0
requests-toolbelt==1.0.0
typing_extensions==4.12.2
urllib3==2.3.0
zeep==4.3.1
